*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(40, 99, 189);
    color: rgb(207, 102, 199);
}


